body {
    background-image: url("http://open2014.moscowchess.org/stat/1/Landscape.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.info-box {
    background-color: rgba(0, 0, 0, 0.43);
    color: white;
}
